<launch>
	<node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" args="
        -configuration_directory
            $(find cartographer_ros)/configuration_files
        -configuration_basename localization.lua
        -load_state_filename /home/copernicus/section2-17-7-19.2.pbstream"
    output="screen">
      <remap from="scan" to="scan_filtered" />
      <remap from="/odom" to="odometry/filtered" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
    type="cartographer_occupancy_grid_node" args="-resolution 0.1" />

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />

  <node name="tf_remove_frames" pkg="cartographer_ros"
    type="tf_remove_frames.py">
  <remap from="tf_out" to="/tf" />
  <rosparam param="remove_frames">
    - map
    - odom
  </rosparam>
  </node>
</launch>
