<launch>
	<node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" args="
        -configuration_directory
            $(find copernicus_navigation)/config
        -configuration_basename mapping.lua"
    output="screen">
      <remap from="points2" to="rslidar_points" />
      <remap from="odom" to="odometry/filtered" />
      <remap from="fix" to="gps/fix" />
      <remap from="imu" to="imu/data" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" required="false"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
    type="cartographer_occupancy_grid_node" args="-resolution 0.1" />

  <node name="tf_remove_frames" pkg="cartographer_ros"
    type="tf_remove_frames.py">
  <remap from="tf_out" to="/tf" />
  <rosparam param="remove_frames">
    - map
    - odom
  </rosparam>
  </node>
</launch>
