<launch>
    <arg name="odom_topic" default="/odom"/>
    <arg name="gmapping" default="true"/>
    <arg name="scan_topic" default="/scan" />
    <arg name="use_map_topic" default="true"/>
    <arg name="map_file" default="$(find copernicus_navigation)/maps/map.yaml"/>
    <arg name="base_global" default="global_planner/GlobalPlanner"/>
    <arg name="base_local" default="dwa_local_planner/DWAPlannerROS"/>

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" unless="$(arg gmapping)"/>

    <node pkg="amcl" type="amcl" name="amcl" unless="$(arg gmapping)">
        <rosparam file="$(find copernicus_navigation)/config/amcl.yaml" command="load"/>
        <param name="use_map_topic" value="$(arg use_map_topic)"/>
        <remap from="scan" to="$(arg scan_topic)"/>
    </node>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" if="$(arg gmapping)">
        <rosparam file="$(find copernicus_navigation)/config/gmapping.yaml" command="load"/>
        <remap from="/scan" to="$(arg scan_topic)"/>
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <remap from="/odom" to="$(arg odom_topic)" />
        <remap from="/cmd_vel" to="nav/cmd_vel" />

        <param name="base_global_planner" value="$(arg base_global)"/>
        <param name="base_local_planner" value="$(arg base_local)"/>

        <rosparam file="$(find copernicus_navigation)/config/planner.yaml" command="load"/>

        <rosparam file="$(find copernicus_navigation)/config/costmap.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find copernicus_navigation)/config/costmap.yaml" command="load" ns="local_costmap" />

        <rosparam file="$(find copernicus_navigation)/config/costmap_local.yaml" command="load" ns="local_costmap" />
        <param name="local_costmap/width" value="10.0"/>
        <param name="local_costmap/height" value="10.0"/>

        <rosparam file="$(find copernicus_navigation)/config/costmap_global.yaml" command="load" ns="global_costmap"/>
        <param name="global_costmap/width" value="100.0" />
        <param name="global_costmap/height" value="100.0" />
    </node>
</launch>
