KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A600PK6B", MODE:="0777", SYMLINK+="mcu"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0", ATTRS{idProduct}=="0", MODE:="0777", SYMLINK+="rplidar"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="AK06UTZ6", MODE:="0777", SYMLINK+="imu"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0", ATTRS{idProduct}=="0", MODE:="0777", SYMLINK+="camera"
