<?xml version="1.0"?>
<launch>
    <arg name="um7_imu" default="false"/>
    <arg name="wit_wt901c_imu" default="true"/>
    <arg name="sick_lms151" default="false"/>
    <arg name="hokuyo_ust-10lx" default="false"/>
    <arg name="rplidar" default="true"/>

    <arg name="model" default="$(find copernicus_description)/urdf/copernicus.xacro"/>
    <arg name="viz_config" default="$(find copernicus_description)/rviz_params/copernicus.rviz"/>

    <!-- LOAD ROBOT DESCRIPTION PARAM -->
    <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg model) um7_imu:=$(arg um7_imu) imu_enabled:=$(arg wit_wt901c_imu) sick_lms151:=$(arg sick_lms151)  hokuyo_ust-10lx:=$(arg hokuyo_ust-10lx) rplidar:=$(arg rplidar)"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg viz_config)" respawn="true" />
</launch>
