<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(find copernicus_description)/urdf/copernicus_v2.xacro"/>
    <arg name="world" default="$(find copernicus_description)/worlds/copernicus_play.world"/>

    <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg model)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -model copernicus -param robot_description -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0">
    </node> 
</launch>
