<launch>
    <arg name="robot_namespace" default="/"/>
    <arg name="initX" default="0"/>
    <arg name="initY" default="0"/>
    <arg name="initYaw" default="0"/>
    <arg name="ref_latitude" default="1.3558320252002594"/>
    <arg name="ref_longitude" default="103.6922425031662"/>
    <arg name="tf_prefix" default=""/>
    <arg name="tf_pre" default=""/>

    <arg name="map_file" default="$(find copernicus_navigation)/maps/gazebo.yaml"/>
    <arg name="map_no_go_zones_file" default="$(find copernicus_navigation)/maps/gazebo_no_go.yaml"/>
    <arg name="gmapping" default="false"/>

    <arg name="viz_config" default="$(find copernicus_description)/rviz_params/copernicus.rviz"/>
    <arg name="model" default="$(find copernicus_description)/urdf/copernicus.xacro"/>

    <group ns="$(arg robot_namespace)">
        <param name="tf_prefix" value="$(arg tf_prefix)"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

        <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg model) robot_namespace:=$(arg robot_namespace) ref_latitude:=$(arg ref_latitude) ref_longitude:=$(arg ref_longitude) tf_pre:=$(arg tf_pre)"/>

        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model $(arg robot_namespace) -param /$(arg robot_namespace)/robot_description -x $(arg initX) -y $(arg initY) -z 0.0 -R 0 -P 0 -Y $(arg initYaw)">
        </node>

        <include file="$(find copernicus_control)/launch/control.launch">
            <arg name="tf_pre" value="$(arg tf_pre)"/>
        </include>

        <include file="$(find copernicus_localization)/launch/localization.launch">
        </include>

        <node name="pointcloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node">
            <param name="min_height" value="-0.05"/>
            <param name="max_height" value="5"/>
            <param name="range_max" value="100"/>
            <param name="angle_min" value="-1.57"/>
            <param name="angle_max" value="1.57"/>
            <param name="target_frame" value="base_link"/>
            <param name="use_inf" value="true"/>

            <remap from="cloud_in" to="velodyne_points"/>
            <remap from="scan" to="scan_filtered"/>
        </node>

        <include file="$(find copernicus_navigation)/launch/navigation.launch">
            <arg name="odom_frame" value="$(arg tf_pre)odom"/>
            <arg name="base_frame" value="$(arg tf_pre)base_link"/>
            <arg name="map_frame" value="map"/>

            <arg name="gmapping" value="$(arg gmapping)"/>

            <arg name="amcl_init_pose_x" value="0"/>
            <arg name="amcl_init_pose_y" value="0"/>
            <arg name="amcl_init_pose_yaw" value="0"/>

            <arg name="amcl_tf_broadcast" value="true"/>
        </include>
    </group>

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" unless="$(arg gmapping)"/>
    <node name="map_server_no_go" pkg="map_server" type="map_server" args="$(arg map_no_go_zones_file)" unless="$(arg gmapping)">
        <remap from="map" to="map_no_go"/>
    </node>
</launch>
