<?xml version="1.0"?>

<launch>

    <arg name="gps" default="true"/>

    <rosparam command="load" file="$(find copernicus_localization)/config/localization.yaml" />
    
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true">
        <remap from="/odometry/filtered" to="/odometry/filtered"/>
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true" if="$(arg gps)">
        <remap from="/odometry/filtered" to="/odometry/filtered_map"/>
    </node>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" if="$(arg gps)">
        <remap from="/imu/data" to="/imu/data"/>
        <remap from="/gps/fix" to="/gps/fix"/>
        <remap from="/odometry/filtered" to="/odometry/filtered_map"/>
        <remap from="/odometry/gps" to="/odometry/gps"/>
    </node>

</launch>
